@if(!isLoading && report) {
<!-- Latest Image -->
<div class="block rounded overflow-hidden shadow-lg relative">
  <img
    class="w-full h-64"
    [src]="report.image_url"
    alt="image of reported pedestrian facility"
  />
</div>

<!-- Latest report information -->
<app-report-info-card
  class="block shadow-lg mb-4"
  [report]="report"
  [userId]="userId"
  (liked)="likeReport()"
  (unliked)="unlikeReport()"
/>

<!-- Map -->
<div class="rounded overflow-hidden shadow-lg mb-4 relative">
  <google-map
    class="w-full"
    #googleMap
    [mapId]="mapId"
    [height]="160"
    [width]="null"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOption"
  >
    <map-marker
      [position]="reportPosition"
      [options]="markerOption"
    ></map-marker>
  </google-map>
</div>

<!-- Reports near the area -->
<div
  class="w-full pt-4 px-4 bg-white border border-gray-200 rounded shadow sm:p-8"
>
  <div class="flex items-center justify-between mb-4">
    <p class="text-lg font-bold leading-none text-gray-700">
      Laporan di sekitar lokasi
    </p>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200">
      @if(nearbyReports.length === 0) {
      <li class="text-md pb-3">Tidak ada laporan di sekitar lokasi ini</li>
      } @else { @for(nearbyReport of nearbyReports; track nearbyReport.id) {
      <app-report-mini-list
        [report]="nearbyReport"
        (clicked)="goToReportDetail($event)"
        (reacted)="reactToNearbyReport($event, nearbyReport.is_reacted)"
      />
      }}
    </ul>
  </div>
</div>
} @else {
<!-- Loading -->
<div>mengambil data...</div>
}
