@if(!isLoading && report) {
<!-- Latest Image -->
<div class="block rounded overflow-hidden shadow-lg relative">
  @if (report.reported_by.id === userId) {
  <div class="absolute top-2 right-2 flex flex-col items-end">
    <button
      (click)="showDropdownMenu = !showDropdownMenu"
      class="flex rounded-lg text-sm p-1.5"
      type="button"
    >
      <span class="sr-only">Buka menu</span>
      <svg
        class="w-5 h-5 fill-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 3"
      >
        <path
          d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
        />
      </svg>
    </button>
    <!-- Dropdown menu -->
    <div
      [hidden]="!showDropdownMenu"
      class="z-10 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
    >
      <ul class="py-2" aria-labelledby="dropdownButton">
        <li
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          (click)="deleteReport()"
        >
          Hapus
        </li>
      </ul>
    </div>
  </div>
  }
  <img
    class="w-full h-64"
    [src]="report.image_url"
    alt="image of reported pedestrian facility"
  />
</div>

<!-- Latest report information -->
<app-report-info-card
  class="block shadow-lg mb-4"
  [report]="report"
  [userId]="userId"
  (liked)="likeReport()"
  (unliked)="unlikeReport()"
/>

<!-- Map -->
<div class="rounded overflow-hidden shadow-lg mb-4 relative">
  <google-map
    class="w-full"
    #googleMap
    [mapId]="mapId"
    [height]="160"
    [width]="null"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOption"
  >
    <map-marker
      [position]="reportPosition"
      [options]="markerOption"
    ></map-marker>
  </google-map>
</div>

<!-- Reports near the area -->
<div
  class="w-full pt-4 px-4 bg-white border border-gray-200 rounded shadow sm:p-8"
>
  <div class="flex items-center justify-between mb-4">
    <p class="text-lg font-bold leading-none text-gray-700">
      Laporan di sekitar lokasi
    </p>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200">
      @if(nearbyReports.length === 0) {
      <li class="text-md pb-3">Tidak ada laporan di sekitar lokasi ini</li>
      } @else { @for(nearbyReport of nearbyReports; track nearbyReport.id) {
      <app-report-mini-list
        [report]="nearbyReport"
        (clicked)="goToReportDetail($event)"
        (reacted)="reactToNearbyReport($event, nearbyReport.is_reacted)"
      />
      }}
    </ul>
  </div>
</div>
} @else {
<!-- Loading -->
<div>mengambil data...</div>
}
