@if(!isLoading && report) {
<!-- Latest Image -->
<div class="rounded overflow-hidden shadow-lg mb-4 relative">
  <img
    class="w-full h-64"
    [src]="report.image_url"
    alt="image of reported pedestrian facility"
  />
</div>

<!-- Latest report information -->
<div class="rounded overflow-hidden shadow-lg mb-4 relative px-6 pt-4 pb-2">
  <div class="">
    <p class="text-gray-400 text-sm">
      {{ report.created_at | date : "mediumDate" }}
    </p>

    <p class="text-gray-700 text-lg">
      #{{ report.category | lowercase }}
      <span
        class="px-2 py-1 rounded-full text-xs font-bold"
        [ngClass]="{
          'bg-green-200 text-green-800': report.condition === 'GOOD',
          'bg-red-200 text-red-800': report.condition === 'BAD'
        }"
        >Kondisi {{ report.condition === "GOOD" ? "baik" : "buruk" }}</span
      >
    </p>
    <p class="text-gray-500 text-base mt-1 mb-4">
      Dilaporkan oleh: {{ report.reported_by.username }}
    </p>
  </div>
  <div class="flex">
    <span class="flex-grow text-gray-400 text-sm mt-1"
      >{{ report.total_reaction }} orang memberi reaksi</span
    >
    <span class="flex-shrink inline-block mr-2 mb-2"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-8 h-8"
        [ngClass]="{ 'fill-red-400': report.is_reacted }"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z"
        />
      </svg>
    </span>
  </div>
</div>

<!-- Map -->
<div class="rounded overflow-hidden shadow-lg mb-4 relative">
  <google-map
    class="w-full"
    #googleMap
    [mapId]="mapId"
    [height]="160"
    [width]="null"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOption"
  >
    <map-marker
      [position]="reportPosition"
      [options]="markerOption"
    ></map-marker>
  </google-map>
</div>

<!-- Reports near the area -->
<div
  class="w-full pt-4 px-4 bg-white border border-gray-200 rounded shadow sm:p-8"
>
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900">
      Laporan di sekitar lokasi
    </h5>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200">
      @for(nearbyReport of nearbyReports; track nearbyReport.id) {
      <li class="py-3" (click)="goToReportDetail(nearbyReport.id)">
        <div class="flex items-center content-center">
          <div class="flex-shrink-0">
            <img
              class="w-8 h-8 rounded-sm"
              [src]="nearbyReport.image_url"
              alt=""
            />
          </div>
          <div class="flex-1 min-w-0 ms-4">
            <p class="text-xs text-gray-400 truncate">
              {{ nearbyReport.created_at | date : "mediumDate" }}
            </p>
            <p class="text-sm font-medium text-gray-900 truncate">
              #{{ nearbyReport.category | lowercase }} dalam kondisi
              {{ nearbyReport.condition === "GOOD" ? "baik" : "buruk" }}
            </p>
            <!-- <p class="text-sm font-medium text-gray-900 truncate">Good</p> -->
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900"
          >
            <span>{{ nearbyReport.total_reaction }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
              [ngClass]="{ 'fill-red-400': nearbyReport.is_reacted }"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z"
              />
            </svg>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
} @else {
<!-- Loading -->
<div>mengambil data...</div>
}
