<div class="absolute w-full max-w-screen-sm h-20 top-0 pl-8 pt-8 z-30">
  <button (click)="navigateAway()" [hidden]="allowRetake">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-10 h-10 stroke-slate-100"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </button>
  <button (click)="retake()" [hidden]="!allowRetake">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-10 h-10 stroke-slate-100"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
      />
    </svg>
  </button>
</div>
<div #cameraContainer class="bg-black max-w-screen-sm h-screen content-center">
  <p class="text-center text-white pb-4">
    Laporkan kondisi fasilias pedestrian di sekitarmu!
  </p>
  <video
    id="vid"
    #video
    class="w-full"
    [srcObject]="srcObject"
    [hidden]="videoHidden"
    autoplay
    muted
  >
    Kamera tidak tersedia
  </video>
  <canvas #canvas class="hidden"> </canvas>
  <img
    #photo
    [hidden]="imgHidden"
    class="w-full max-w-screen-sm object-center object-contain"
    [src]="src"
    alt="The screen capture will appear in this box."
  />
</div>
<div
  class="absolute w-full max-w-screen-sm h-20 bottom-20 text-center z-10"
  [hidden]="!isCameraReady"
>
  <button (click)="takePhoto()" [hidden]="allowRetake">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-10 h-10 stroke-slate-100"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z"
      />
    </svg>
  </button>
  <button
    (click)="useImage()"
    class="absolute right-8 rounded-full p-1 bg-slate-50"
    [hidden]="!allowRetake"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-10 h-10 stroke-slate-500"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m8.25 4.5 7.5 7.5-7.5 7.5"
      />
    </svg>
  </button>
</div>
