@if(isLoading) {
<div
  class="max-w-sm mx-auto bg-white rounded-lg overflow-hidden shadow-lg mb-4 p-4"
>
  <div>memuat data...</div>
</div>
} @else {
<div
  class="max-w-sm mx-auto bg-white rounded-lg overflow-hidden shadow-lg mb-4 p-4"
>
  @if (!isCampaigning) {
  <p class="mb-2">
    Ajak teman-temanmu untuk berjalan bersama dan simpan rute perjalananmu
    dengan <strong>kampanye Tamasya Trotoar</strong>!
  </p>
  <button
    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 text-sm rounded"
    (click)="createCampaign()"
  >
    Buat Kampanye Baru
  </button>
  <p class="mt-4 mb-2">Punya kode kampanye?</p>
  <input
    type="text"
    class="w-full mb-2 text-xl border border-gray-300 p-2 rounded-lg uppercase"
    placeholder="Masukkan kode kampanye"
    [(ngModel)]="campaignCode"
  />
  <button
    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 text-sm rounded disabled:opacity-40"
    [disabled]="this.campaignCode.length !== 6"
    (click)="joinCampaign()"
  >
    Gabung Kampanye
  </button>
  } @else if(isCampaigning && campaign) {
  <p class="mb-2">Saat ini kamu sedang tergabung dengan kampanye dengan kode</p>
  <input
    type="text"
    class="w-full mb-4 text-xl border border-gray-300 p-2 rounded-lg uppercase"
    [value]="campaign.shortcode"
    disabled
  />
  <button
    class="w-full mb-2 bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 text-sm rounded"
    (click)="copyCampaignCode()"
  >
    Salin Kode Kampanye
  </button>
  @if(campaign.created_by.id !== userId) {
  <button
    class="w-full bg-slate-100 text-slate-400 font-bold p-2 text-sm rounded"
    (click)="leaveCampaign()"
  >
    Keluar dari Kampanye
  </button>
  } }
  <p
    class="text-center mt-4 text-sm text-blue-500 underline"
    (click)="goToCampaignInfo()"
  >
    Apa itu kampanye Tamasya Trotoar?
  </p>
</div>
<!-- body -->
@if(isCampaigning && campaign){
<div
  class="max-w-sm mx-auto bg-white rounded-lg overflow-hidden shadow-lg mb-4 p-4"
>
  <div class="flex flex-row items-center mb-2">
    <p class="flex flex-1 text-lg font-bold mb-2">Seputar Kampanye</p>
    <p
      class="flex flex-shrink px-2 py-1 rounded-full text-xs font-bold"
      [ngClass]="{
        'bg-green-100 text-green-800': !isCampaignExpired,
        'bg-red-100 text-red-800': isCampaignExpired
      }"
    >
      @if (isCampaignExpired) { Kampanye berakhir } @else { Kampanye berlangsung
      }
    </p>
  </div>
  <div class="flex justify-center items-center mb-2">
    <div
      class="flex flex-1 flex-col justify-center items-center bg-slate-100 rounded-lg p-4 mb-2"
    >
      <p class="text-lg">
        @if (isCampaignExpired) { Durasi kampanye } @else { Kampanye berlangsung
        }
      </p>
      <p class="font-extrabold text-2xl">{{ campaignRunningTime }}</p>
      @if (!isCampaignExpired) {
      <p class="text-xs py-2">Berakhir dalam {{ campaignToEndTime }}</p>
      }
    </div>
  </div>
  <div class="flex flex-row gap-2 justify-center items-center">
    <div
      class="flex flex-1 flex-col justify-center items-center border-solid border-2 rounded-lg p-4 mb-2"
    >
      <p class="text-lg">Total Peserta</p>
      <p class="font-extrabold">{{ campaign.total_campaigners }}</p>
    </div>
    <div
      class="flex flex-1 flex-col justify-center items-center border-solid border-2 rounded-lg p-4 mb-2"
    >
      <p class="text-lg">Total Laporan</p>
      <p class="font-extrabold">{{ campaign.total_reports }}</p>
    </div>
  </div>

  @if (!isCampaignExpired) {
  <p class="mt-4 text-xs">
    Data di atas adalah estimasi. Data akurat akan tersedia setelah kampanye
    berakhir.
  </p>
  }
</div>
<div
  class="max-w-sm mx-auto bg-white rounded-lg overflow-hidden shadow-lg mb-4 px-4 pt-4"
>
  <div class="mb-2">
    <p class="text-lg font-bold mb-2">Laporan Terakhir dalam Kampanye Ini</p>
  </div>
  @if (campaignReports.length > 0) {
  <ul role="list" class="divide-y divide-gray-200">
    @for (report of campaignReports; track report.id) {
    <app-report-mini-list
      [report]="report"
      (clicked)="goToReportDetail($event)"
      (reacted)="reactToreport($event)"
    />
    }
  </ul>
  } @else {
  <p class="text-sm text-gray-400 pb-4">
    Belum ada laporan dalam kampanye ini.
  </p>
  }
</div>
} }
