<div class="block w-full max-w-screen-sm p-4 h-full text-justify">
  <div class="mb-8 flex flex-col items-center">
    <app-walking-together-svg />
    <h1 class="font-bold text-xl mb-2">Apa itu Kampanye Tamasya Trotoar?</h1>
    <p class="">
      Kampanye Tamasya Trotoar adalah kegiatan khas Koalisi Pejalan Kaki, di
      mana kita akan
      <span class="underline"
        >berjalan menyusuri trotoar sambil memetakan kondisi fasilitas pejalan
        kaki di sekitar kita</span
      >.
    </p>
  </div>
  <div class="mb-8 flex flex-col items-center">
    <h1 class="font-bold text-xl mb-2">Untuk apa kegiatan ini dilakukan?</h1>
    <p class="mb-2">
      Kampanye Tamasya Trotoar ini dilakukan sebagai bentuk kepedulian kita
      dalam mendorong pemerintah daerah untuk memperhatikan fasilitas pejalan
      kaki di sekitar kita. Tanpa data yang cukup, proses advokasi yang akan
      kita lakukan akan menjadi sangat sulit.
    </p>
    <p class="">Kami tidak akan bisa melakukan hal ini tanpa kamu ❤</p>
  </div>
  <div class="mb-8 flex flex-col items-center">
    <h1 class="font-bold text-xl mb-2">Bagaimana saya memulai?</h1>
    <p>
      Untuk memulai, kamu dapat menekan tombol
      <strong>Buat Kampanye Baru</strong> untuk membuat kampanye baru. Setiap
      kampanye memiliki masa berlaku hingga pukul 23:59 di hari yang sama.
    </p>
    <p>
      Akan muncul kolom pertanyaan `Kampanye apa yang ingin kamu buat?`, isi
      dengan judul kampanya yang akan kamu adakan, misalnya "Jalan Sehat
      Bersama".
    </p>
    <img
      class="w-60 mb-2"
      src="assets/campaign-info/create-campaign.png"
      alt="Create campaign illustration"
    />
    <p>
      Setelah itu, kamu akan mendapatkan kode kampanye unik seperti berikut:
    </p>
    <img
      class="w-60 mb-2"
      src="assets/campaign-info/copy-campaign-code.png"
      alt="Copy campaign code illustration"
    />
    <p>
      Kamu bisa menekan tombol <strong>Salin Kode Kampanye</strong> yang dapat
      kamu bagikan ke teman-teman kamu agar kamu dapat tergabung dalam kampanye
      yang sama.
    </p>
  </div>
  <div class="mb-8 flex flex-col items-center">
    <h1 class="font-bold text-xl mb-2">Bagaimana saya bergabung?</h1>
    <p class="mb-1">
      Jika kamu ingin bergabung dengan kampanye yang sedang berjalan, kamu dapat
      memasukkan kode kampanye kamu di kotak teks yang tersedia (langkah 1) dan
      menekan tombol <strong>Gabung Kampanye</strong> untuk bergabung (langkah
      2).
    </p>
    <img
      class="w-60 mb-2"
      src="assets/campaign-info/join-campaign.png"
      alt="Join campaign illustration"
    />
  </div>
  <div class="mb-8 flex flex-col items-center">
    <h1 class="font-bold text-xl mb-2">Apa yang akan saya dapatkan?</h1>
    <p class="mb-2">
      Kamu dapat menggunakan fitur Kampanye Tamasya Trotoar ini untuk mencatat
      perjalanan kamu dan teman-teman kamu. Informasi seperti jarak perjalanan,
      jumlah laporan yang telah dibuat, dan jumlah teman yang ikut serta akan
      ditampilkan di halaman detail kampanye.
    </p>
    <img
      class="w-60 mb-2"
      src="assets/campaign-info/campaign-detail.png"
      alt="Campaign detail info"
    />
    <p class="mb-2">
      Kamu juga akan mendapatkan rangkuman rute perjalanan seperti berikut:
    </p>
    <img
      class="w-60"
      src="assets/campaign-info/route-illustration.png"
      alt="Route illustration"
    />
  </div>
  <div class="mb-8 flex flex-col items-center">
    <p class="mb-2">Tunggu apa lagi. Ayo mulai Kampanye Tamasya Trotoarmu!</p>
    <button
      class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 text-sm rounded"
      (click)="goToCampaignPage()"
    >
      Ayo Mulai
    </button>
  </div>
</div>
